<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give</title>
    <link href="../static/assets/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body style="background: #1b1c1e;">

    <!-- ✅ Include navbar dynamically -->
    {% include 'navbar.html' %}

    <!-- Hero Section -->
    <section id="home" class="hero-section">
        <!-- Background Video -->
        <video autoplay muted loop playsinline id="heroVideo" class="hero-video">
            <source src="https://res.cloudinary.com/dns8ckviy/video/upload/v1759859146/background_yn3mrg.mp4"
                type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="container">
            <div class="fellowship-badge-bg badge-font">
                <img src="../static/assets/icons/emoji _sparkles.svg" class="sparkle-emoji">
                <span>GIVE</span>
            </div>
            <h1 class="hero-title">YOUR GIVING CHANGES LIVES</h1>
            <p class="hero-subtitle">
                Every gift helps us spread the Gospel,
                support our community, and bring hope to those in need.
            </p>
            <button class="button hero-button text-center">
                <a href="#waysToGiveSection">
                    <h3 class="hero-button-text">Give Now</h3>
                </a>
            </button>
        </div>
    </section>

    <!-- Why we give section -->
    <section class="why-we-give-section">
        <div class="section-container">
            <div class="mb-5">
                <div class="scripture-ref"
                    data-tooltip="Let each one do just as he has resolved in his heart, not grudgingly or under compulsion, for God loves a cheerful giver.">
                    <img src="../static/assets/icons/emojis_open-book.svg">
                    2 Corinthians 9 : 7
                </div>
                <h2 class="welcome-title text-white">
                    WHY WE <span class="blue-highlight">GIVE</span>
                </h2>
                <p class="mb-4 welcome-subtitle col-lg-8">
                    Giving is more than a duty — it’s an expression of love,
                    faith, and gratitude to God,
                    making a lasting impact in the lives of others.
                </p>
            </div>

            <div class="why-we-give-cards">
                <div class="why-we-give-cards-desktop-layout  ">
                    <div class="why-we-give-card">
                        <div class="why-we-give-text">
                            <h2>OBEDIENCE</h2>
                            <p>
                                We give because God calls us to honor Him with our resources,
                                trusting His provision in return.
                            </p>
                        </div>

                        <div class="why-we-give-image">
                            <img src="../static/images/why-we-give-image1.png" alt="why we give image">
                        </div>
                    </div>

                    <div class="why-we-give-card">
                        <div class="why-we-give-text">
                            <h2>ADVANCING THE GOSPEL</h2>
                            <p>
                                We give because God calls us to honor Him with our resources,
                                trusting His provision in return.
                            </p>
                        </div>

                        <div class="why-we-give-image">
                            <img src="../static/images/why-we-give-image2.png" alt="why we give image">
                        </div>
                    </div>

                </div>

                <div class="why-we-give-cards-desktop-layout">
                    <div class="why-we-give-card">
                        <div class="why-we-give-text">
                            <h2>SERVING THE COMMUNITY </h2>
                            <p>
                                We give to support our church community and outreach programs,
                                helping those in need and fostering a spirit of generosity.
                            </p>
                        </div>

                        <div class="why-we-give-image">
                            <img src="../static/images/why-we-give-image3.png" alt="why we give image">
                        </div>
                    </div>


                    <div class="why-we-give-card">
                        <div class="why-we-give-text">
                            <h2>BUILDING GOD'S HOUSE</h2>
                            <p>
                                Our gifts help maintain and grow the church,
                                creating a place where people can worship and grow in faith.
                            </p>
                        </div>

                        <div class="why-we-give-image">
                            <img src="../static/images/why-we-give-image4.png" alt="why we give image">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Ways to give section -->
    <section class="ways-to-give-section" id="waysToGiveSection">
        <div class="section-container">
            <div class="ways-to-give-title">
                <div class="fellowship-badge-bg">
                    <img src="../static/assets/icons/handshake-dark-skin-tone-medium-skin-tone.svg">
                    <span class="badge-font">GIVE TO DESTINY CENTER</span>
                </div>
                <h2 class="welcome-title text-white w-100">
                    WAYS TO <span class="blue-highlight">GIVE</span>
                </h2>
                <p class="welcome-subtitle mb-5">
                    Your generosity can be expressed in many ways
                    — pick what works best for you.
                </p>
            </div>
            <div class="give-tabs-header">
                <button class="active" href="#bank-transfers" id="">Bank Transfers</button>
                <button>Pay with Card</button>
                <button>PayPal</button>
                <button>Pay with Crypto</button>
            </div>

            <!-- row justify-content-center -->
            <div class="ways-to-give-tabs row justify-content-center">

                <!-- Bank Transfer Note: update with other payment information-->
                <div class="give-cards " id="bank-transfers">
                    <!-- Access bank -->
                    <div class="give-card col">
                        <span class="give-card-bank">
                            <img src="../static/images/ACCESSCORP.png" alt="Access bank"> Access Bank
                        </span>

                        <div class="give-card-bank-info">
                            <div class="give-card-bank-details">
                                <h6>ACCOUNT NUMBER</h6>
                                <h2>0023243435</h2>
                            </div>
                            <div class="give-card-details-copy">
                                <button>
                                    <img src="../static/assets/icons/copy-icon/copy.svg">
                                </button>
                            </div>

                        </div>
                    </div>

                    <!-- Fidelity bank -->
                    <div class="give-card ">
                        <span class="give-card-bank">
                            <img src="../static/images/FCMB.png" alt="Fidelity bank"> Fidelity Bank
                        </span>

                        <div class="give-card-bank-info">
                            <div class="give-card-bank-details">
                                <h6>ACCOUNT NUMBER</h6>
                                <h2>0023243435</h2>
                            </div>
                            <div class="give-card-details-copy">
                                <button>
                                    <img src="../static/assets/icons/copy-icon/copy.svg">
                                </button>
                            </div>

                        </div>
                    </div>

                    <!-- Wema bank -->
                    <div class="give-card ">
                        <span class="give-card-bank">
                            <img src="../static/images/WEMABANK.png" alt="Wema bank"> Wema Bank
                        </span>

                        <div class="give-card-bank-info">
                            <div class="give-card-bank-details">
                                <h6>ACCOUNT NUMBER</h6>
                                <h2>0023243435</h2>
                            </div>
                            <div class="give-card-details-copy">
                                <button>
                                    <img src="../static/assets/icons/copy-icon/copy.svg">
                                </button>
                            </div>

                        </div>
                    </div>

                    <!-- UBA bank -->
                    <div class="give-card ">
                        <span class="give-card-bank">
                            <img src="../static/images/UBA.png" alt="UBA bank"> UBA Bank
                        </span>

                        <div class="give-card-bank-info">
                            <div class="give-card-bank-details">
                                <h6>ACCOUNT NUMBER</h6>
                                <h2>0023243435</h2>
                            </div>
                            <div class="give-card-details-copy">
                                <button>
                                    <img src="../static/assets/icons/copy-icon/copy.svg">
                                </button>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- Pay with Card Section -->
                <div class="give-cards" id="pay-cards">
                    <!-- Flutterwave -->
                    <div class="give-card full-width">
                        <span class="give-card-bank">
                            <img src="../static/images/ACCESSCORP.png" alt="Flutterwave"> Flutterwave
                        </span>

                        <div class="give-card-bank-info">
                            <div class="pay-cards-details">
                                <h2>Give securely from anywhere in the world
                                    with your credit/debit cards using Flutterwave.
                                </h2>

                                <button>Proceed to Make Payment</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pay with Paypal -->
                <div class="give-cards" id="paypal">
                    <!-- Flutterwave -->
                    <div class="give-card w-100 full-width">
                        <span class="give-card-bank">
                            <img src="../static/images/paypal-logo.png" alt="paypal">
                        </span>

                        <div class="give-card-bank-info">
                            <div class="pay-cards-details">
                                <h2>Give securely from anywhere in the world
                                    with your credit/debit cards using Flutterwave.
                                </h2>

                                <button href="paypal"> Proceed to Paypal</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pay with Crypto -->
                <div class="give-cards" id="crypto">
                    <!-- USDT bank -->
                    <div class="give-card">
                        <span class="give-card-bank">
                            <img src="../static/images/USDT-logo.png" alt="USDT"> USDT (TRC 20)
                        </span>

                        <div class="give-card-bank-info">
                            <div class="pay-with-crypto-details p-0">
                                <h6>WALLET ADDRESS</h6>
                                <h2>23vyueoyviyv973ege739pe37gepdvby98vdb93d32fbhfb</h2>
                            </div>
                            <div class="give-card-details-copy">
                                <button>
                                    <img src="../static/assets/icons/copy-icon/copy.svg">
                                </button>
                            </div>

                        </div>
                    </div>

                    <!-- BTC bank -->
                    <div class="give-card">
                        <span class="give-card-bank">
                            <img src="../static/images/BTC-logo.png" alt="BTC"> BTC (TRC 20)
                        </span>

                        <div class="give-card-bank-info">
                            <div class="pay-with-crypto-details p-0">
                                <h6>WALLET ADDRESS</h6>
                                <h2>23vyueoyviyv973ege739pe37gepdvby98vdb93d32fbhfb</h2>
                            </div>
                            <div class="give-card-details-copy">
                                <button>
                                    <img src="../static/assets/icons/copy-icon/copy.svg">
                                </button>
                            </div>

                        </div>
                    </div>

                    <!-- DOGE bank -->
                    <div class="give-card">
                        <span class="give-card-bank">
                            <img src="../static/images/DOGE-logo.png" alt="DOGE"> DOGE (TRC 20)
                        </span>

                        <div class="give-card-bank-info">
                            <div class="pay-with-crypto-details p-0">
                                <h6>WALLET ADDRESS</h6>
                                <h2>23vyueoyviyv973ege739pe37gepdvby98vdb93d32fbhfb</h2>
                            </div>
                            <div class="give-card-details-copy">
                                <button>
                                    <img src="../static/assets/icons/copy-icon/copy.svg">
                                </button>
                            </div>

                        </div>
                    </div>

                    <!-- ETH bank -->
                    <div class="give-card">
                        <span class="give-card-bank">
                            <img src="../static/images/ETH-logo.png" alt="ETH"> ETH (TRC 20)
                        </span>

                        <div class="give-card-bank-info">
                            <div class="pay-with-crypto-details p-0">
                                <h6>WALLET ADDRESS</h6>
                                <h2>23vyueoyviyv973ege739pe37gepdvby98vdb93d32fbhfb</h2>
                            </div>
                            <div class="give-card-details-copy">
                                <button>
                                    <img src="../static/assets/icons/copy-icon/copy.svg">
                                </button>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <!-- Specific Payment Section -->
    <section class="specific-payment-section">
        <div class="section-container">
            <div class="specific-payment-title">
                <div class="fellowship-badge-bg">
                    <img src="../static/assets/icons/handshake-dark-skin-tone-medium-skin-tone.svg">
                    <span class="badge-font">GIVE TO DESTINY CENTER</span>
                </div>
                <h2 class="welcome-title text-white w-100">
                    SPECIFIC <span class="blue-highlight">PAYMENT</span>
                </h2>
                <p class="welcome-subtitle mb-5">
                    Your generosity can be expressed in many ways
                    — pick what works best for you.
                </p>
            </div>

            <!-- specific payment cards -->
            <div class="specific-payment-cards">

                <!-- Card 1 -->
                <div class="payment-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <h5>Tithe</h5>
                            <p>A freewill gift given to support the church’s ongoing ministries,
                                outreach programs,
                                and special projects that bless our community.
                            </p>
                        </div>
                        <div class="card-back">
                            <span class="card-back-bank">
                                <img src="../static/images/ACCESSCORP.png" alt="Access bank"> Access Bank
                            </span>

                            <div class="give-card-bank-info">
                                <div class="give-card-bank-details">
                                    <h6>ACCOUNT NUMBER</h6>
                                    <h2>0023243435</h2>
                                </div>
                                <div class="give-card-details-copy">
                                    <button>
                                        <img src="../static/assets/icons/copy-icon/copy.svg">
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


                <!-- Card 2 -->
                <div class="payment-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <h5>Kingdom Project</h5>
                            <p>
                                A dedicated contribution toward the cost of maintaining our worship space,
                                ensuring we have a place to gather, pray, and grow together.
                            </p>
                        </div>

                        <div class="card-back">
                            <span class="card-back-bank">
                                <img src="../static/images/WEMABANK.png" alt="Wema bank ETH-logo"> Wema Bank
                            </span>

                            <div class=" give-card-bank-info">
                                <div class="give-card-bank-details">
                                    <h6>ACCOUNT NUMBER</h6>
                                    <h2>0023243435</h2>
                                </div>
                                <div class="give-card-details-copy">
                                    <button>
                                        <img src="../static/assets/icons/copy-icon/copy.svg">
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Card 3 -->
                <div class="payment-card">
                    <div class="card-inner">
                        <div class="card-front">
                            <h5>Rent</h5>
                            <p>A dedicated contribution toward the cost of maintaining
                                our worship space,
                                ensuring we have a place to gather, pray, and grow together.
                            </p>
                        </div>
                        <div class="card-back">
                            <span class="card-back-bank">
                                <img src="../static/images/FCMB.png" alt="Fidelity bank"> Fidelity Bank
                            </span>

                            <div class="give-card-bank-info">
                                <div class="give-card-bank-details">
                                    <h6>ACCOUNT NUMBER</h6>
                                    <h2>0023243435</h2>
                                </div>
                                <div class="give-card-details-copy">
                                    <button>
                                        <img src="../static/assets/icons/copy-icon/copy.svg">
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Success Message -->
    <div class="success-message" id="successMessage">
        <i class="fas fa-check-circle"></i>
        Copied to clipboard!
    </div>

    <!-- Get involved in doing good -->
    <section class="get-involved-in-doing-good-section">
        <div class="section-container">
            <div class="get-involved-in-doing-good-grid">
                <div class="get-involved-in-doing-good-title">
                    <h2 class="welcome-title text-white w-100">
                        <span class="blue-highlight">GET INVOLVED</span> IN <br> DOING GOOD
                    </h2>
                    <p class="welcome-subtitle mb-5">
                        Kindly fill the form to let us know you would
                        like to help and we will connect you with the right person.
                    </p>
                </div>

                <div class="form-container">
                    <form method="post" id="sendMessageForm">
                        <div class="input-wrapper-grid">
                            <div class="input-wrapper">
                                <input type="text" name="firstname" id="firstname" placeholder="John" />
                                <label for="firstname" class="floating-label">First Name</label>
                                <span class="error-message" id="firstnameError"></span>

                                <svg class="input-icon" width="18" height="18" viewBox="0 0 344 384">
                                    <path
                                        d="M170.5 192q-35.5 0-60.5-25t-25-60.5T110 46t60.5-25T231 46t25 60.5t-25 60.5t-60.5 25zm0 43q31.5 0 69.5 9t69.5 29.5T341 320v43H0v-43q0-26 31.5-46.5T101 244t69.5-9z"
                                        fill="#6b7280"></path>
                                </svg>
                            </div>

                            <div class="input-wrapper">
                                <input type="text" name="lastname" id="lastname" placeholder="Doe" />
                                <label for="lastname" class="floating-label">Last Name</label>
                                <span class="error-message" id="lastnameError"></span>

                                <svg class="input-icon" width="18" height="18" viewBox="0 0 344 384">
                                    <path
                                        d="M170.5 192q-35.5 0-60.5-25t-25-60.5T110 46t60.5-25T231 46t25 60.5t-25 60.5t-60.5 25zm0 43q31.5 0 69.5 9t69.5 29.5T341 320v43H0v-43q0-26 31.5-46.5T101 244t69.5-9z"
                                        fill="#6b7280"></path>
                                </svg>
                            </div>
                        </div>


                        <div class="input-wrapper">
                            <input type="email" name="email" id="email" placeholder="johndoe@gmail.com" />
                            <label for="email" class="floating-label">Email</label>
                            <span class="error-message" id="emailError"></span>

                            <svg class="input-icon" width="18" height="18" viewBox="0 0 344 384">
                                <path
                                    d="M170.5 192q-35.5 0-60.5-25t-25-60.5T110 46t60.5-25T231 46t25 60.5t-25 60.5t-60.5 25zm0 43q31.5 0 69.5 9t69.5 29.5T341 320v43H0v-43q0-26 31.5-46.5T101 244t69.5-9z"
                                    fill="#6b7280"></path>
                            </svg>
                        </div>

                        <div class="input-message-wrapper">
                            <textarea name="message" id="message" placeholder="Enter your message..."></textarea>
                            <label for="message" class="message-label">How would you like to get involved?</label>
                        </div>
                        <span class="error-message" id="messageError"></span>

                        <button type="submit" class="button form-button" id="sendMessageBtn">
                            <a>
                                Send Message
                            </a>
                        </button>
                    </form>

                </div>
            </div>
        </div>

    </section>




    <script src="../static/assets/js/giving.js"></script>
    <script src="../static/assets/js/navbar.js"></script>
    <script src="../static/assets/js/scriptureTooltips.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>